xconf-pune-app/xconf-pune/Service References/XConfService/xconf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XConfPune" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XConfPune" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfXConfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XConfSession" nillable="true" type="tns:XConfSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXConfSession" nillable="true" type="tns:ArrayOfXConfSession" />
  <xs:complexType name="XConfSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="Presenters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Topic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XConfSession" nillable="true" type="tns:XConfSession" />
</xs:schema>