xconf-pune-app/xconf-pune/Service References/XConfService/xconf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/xconf?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XConfPune" />
  <xs:element name="FetchXConfSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="track" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchXConfSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XConfPune" minOccurs="0" name="FetchXConfSessionResult" nillable="true" type="q1:ArrayOfXConfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>